.navbar{
    height: 60px;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoArea{
    font-size: 30px;
    font-weight: bold;
    margin-right: 60px;
}

.linkArea{
    a{
        font-size: 18px;
        padding: 0 20px;
        color: grey;
    }
    .active{
        color: brown;
    }
}